# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Power BI (optional if too big)
*.pbix

# Data (optional - keep raw out if large/private)
*.csv
*.xlsx
